<div class="col-xs-12 table-responsive">

  <span *ngIf="!items.lenght"><h6 class=" text-danger">Não há intens</h6> </span>
  <table class="table table-striped" *ngIf="items.lenght">
    <thead>
      <tr>
        <th class="text-center">Quantidade</th>
        <th>Item</th>
        <th>Descrição</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of items">
        <td class="text-center">
          <a class="btn btn-sm"><i class="fa fa-minus"  (click)="emitDecreaseQty(item)"></i></a>
          
         {{item.quantity}}
        <a class="btn btn-sm"><i class="fa fa-plus" (click)="emitIcreaseQty(item)"></i></a>
        </td>
        <td>{{item.menuItem.name}}</td>
       <td>{{item.menuItem.description}}</td>
        <td class="text-right">{{item.value() | currency: 'BRL':true}}</td>
        <td class="text-right">
          <a class="btn btn-sm danger" (click)="emitRemove(item)"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
     

    </tbody>
  </table>
</div>